body {
    font-family: "Courier New", Courier, monospace;
    background-image: url(content/img/sky.jpg);
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    color: lightgoldenrodyellow;
}

#top-area {
    background-image: url(content/img/sky.jpg);
    padding: 1em;
    margin: 1em 3em;
    color: lightgoldenrodyellow;
}

#main-header {
    display: flex;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

.sub {
    display: flex;
    justify-content: center;
    padding: 1em;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul * {
    text-align: center;
}

li {
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: 3em;
    list-style: none;
    width: fit-content;
    max-width: 300px;
    margin: 1em;
    background-color: rgba(47, 79, 79, 0.8);
}

li:hover {
    background-color: rgba(47, 79, 79, 0.9);
}

li img {
    max-width: 200px;
}

a {
    color: lightskyblue;
    text-decoration: none;
}

a:hover {
    color: mediumpurple;
    text-decoration: underline;
    text-decoration-style: dashed;
}

footer img {
    max-width: 3em;
}
